<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zr.dao.KnowledgeMapper">
    <!--ResultMap-->
    <resultMap id="knowledgeMap" type="knowledge">
        <id property="k_id" column="k_id"/>
        <result property="knowledgeName" column="knowledgeName"/>
        <association property="course" javaType="Course">
            <id property="c_id" column="c_id"/>
            <result property="courseName" column="courseName"/>
        </association>
    </resultMap>

    <select id="queryAllKnowledge" resultMap="knowledgeMap">
        SELECT k.c_id,c.courseName,k.k_id,k.knowledgeName
        from knowledge k
        LEFT JOIN course c ON k.c_id = c.c_id
    </select>

    <select id="queryKnowledgeList" resultMap="knowledgeMap">
        SELECT k.c_id,c.courseName,k.k_id,k.knowledgeName
        from knowledge k
        LEFT JOIN course c ON k.c_id = c.c_id
        <where>
            <if test="c_id!=null">
                k.c_id=#{c_id}
            </if>
        </where>
    </select>

    <delete id="deleteKnowledge" parameterType="int">
        DELETE FROM knowledge
        WHERE k_id=#{k_id}
    </delete>

    <insert id="insertKnowledge" parameterType="knowledge">
        INSERT INTO knowledge
        VALUES (
        null,
        #{course.c_id},
        #{knowledgeName}
        )
    </insert>

    <update id="updateKnowledge" parameterType="knowledge">
        UPDATE knowledge
        <set>
            <if test="knowledgeName!=null and knowledgeName!=''">
                knowledgeName=#{knowledgeName}
            </if>
        </set>
        WHERE k_id=#{k_id}
    </update>
</mapper>